<%= form_with(model: device, local: true) do |form| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
        <% device.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field inline-field">
    <%= form.label "Name:" %>
    <%= form.text_field :name, class: 'input is-primary', placeholder: 'Weather Station' %>
  </div>

  <div class="field inline-field">
    <%= form.label "Latitude:" %>
    <%= form.number_field :latitude, in: -180..180, step: 0.00001, class: 'input is-small', placeholder: '-12.1324' %>
  </div>

  <div class="field inline-field">
    <%= form.label "Longitude:" %>
    <%= form.number_field :longitude, in: -180..180, step: 0.00001, class: 'input is-small', placeholder: '-72.1324' %>
  </div>

  <div class="field inline-field">
    <%= form.label "Description" %>
    <%= form.text_field :description, class: 'input is-small', placeholder: 'Wheater station details and features' %>
  </div>

  <div class="field inline-field">
    <%= form.label "Tx Period:" %>
    <%= form.number_field :tx_period, class: 'input is-small', placeholder: 'time in seconds' %>
  </div>

  <div class="field inline-field">
    <%= form.label "Tx Slot:" %>
    <%= form.number_field :tx_slot, class: 'input is-small', placeholder: 'time in seconds' %>
  </div>

  <div class="field inline-field">
    <%= form.label "Rx Time:" %>
    <%= form.number_field :rx_time, class: 'input is-small', placeholder: 'time in seconds' %>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-info save-button"%>
  </div>
<% end %>
