<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @device.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @device.longitude %>
</p>

<p>
  <strong>Description:</strong>
  <%= @device.description %>
</p>

<p>
  <strong>Tx period:</strong>
  <%= @device.tx_period %>
</p>

<p>
  <strong>Tx slot:</strong>
  <%= @device.tx_slot %>
</p>

<p>
  <strong>Rx time:</strong>
  <%= @device.rx_time %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Destroy', @device, method: :delete, data: { confirm: 'Are you sure?' } %>


<main class="main-container">
  <p id="notice"><%= notice %></p>
  <div class="columns">

    <div class="column is-one-quarter">
      <div class="box has-background-grey-light menu">
        <h2 class="title is-3 has-text-info">Devices</h1>
        <p class="menu-label">Select a device:</p>
        <ul class="menu-list">
          <% @devices.each do |device| %>
            <li><%= link_to  device.name, device_path(device) %></li>
          <% end %>
        <ul>
        <%= link_to 'New Device', new_device_path, class: "has-text-info" %>
      </div>
      
    </div>

    
    
    <div class="column is-half">
      <div>
        <h1>Devices</h1>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Description</th>
              <th>Tx period</th>
              <th>Tx slot</th>
              <th>Rx time</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @devices.each do |device| %>
              <tr>
                <td><%= device.name %></td>
                <td><%= device.latitude %></td>
                <td><%= device.longitude %></td>
                <td><%= device.description %></td>
                <td><%= device.tx_period %></td>
                <td><%= device.tx_slot %></td>
                <td><%= device.rx_time %></td>
                <td><%= link_to 'Show', device %></td>
                <td><%= link_to 'Edit', edit_device_path(device) %></td>
                <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>



      </div>
    </div>

    
    
    
    <div class="column if-one-quarter">
      <div class="box has-background-grey-light">
        <h2 class="title is-3 has-text-info">About</h1>
        <p>SenNet is a project to gather sensor information to control actuators in order to
        use limited resources like water or energy eficciently.
        </p>
        <a href="github.com/FrancoRosa"><i class="fab fa-github"></i> FrancoRosa</a>
      </div>
    </div>

  
</main>