<p id="notice"><%= notice %></p>

<h1>Sensor Actuators</h1>

<table>
  <thead>
    <tr>
      <th>Sensor</th>
      <th>Actuator</th>
      <th>Command</th>
      <th>Enable</th>
      <th>Threshold</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sensor_actuators.each do |sensor_actuator| %>
      <% @sensor = sensor_actuator.sensor %>
      <% @actuator = sensor_actuator.actuator %>
      <tr>
        <td><%= @sensor.device.name%>, <%= @sensor.variable.name  %></td>
        <td><%= @actuator.element.name %></td>
        <td><%= sensor_actuator.command.name %></td>
        <td><%= sensor_actuator.enable %></td>
        <td><%= sensor_actuator.threshold %></td>
        <td><%= link_to 'Show', sensor_actuator %></td>
        <td><%= link_to 'Edit', edit_sensor_actuator_path(sensor_actuator) %></td>
        <td><%= link_to 'Destroy', sensor_actuator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sensor Actuator', new_sensor_actuator_path %>
