<div class="box column is-one-quarter left-list-container has-background-grey-light">
  <h2 class="title is-4 has-text-info"> <%= link_to @device.name, device_path(@device) %> </h2>
  <div class="box has-background-grey-light menu">
    <p class="menu-label">Select a sensor:</p>
    <ul class="menu-list">
      <% @device.sensors.each do |sensor| %>
        <li><%= link_to  sensor.variable.name, sensor_path(sensor) %></li>
      <% end %>
    <ul>
    <%= link_to 'New Sensor', new_sensor_path(device_id: @device), class: "has-text-info" %>
  </div>
  <div class="box has-background-grey-light menu">
    <p class="menu-label">Select an actuator:</p>
    <ul class="menu-list">
      <% @device.actuators.each do |actuator| %>
        <li><%= link_to  actuator.element.name, actuator_path(actuator) %></li>
      <% end %>
    <ul>
    <%= link_to 'New Actuator', new_actuator_path(device_id: @device), class: "has-text-info" %>
  </div>
</div>