<%= form_with(model: sensor, local: true) do |form| %>
  <% if sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
        <% sensor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field inline-field">
    <%= form.label :device %>
    <div class="select is-info">
    <%= form.collection_select :device_id, Device.all, :id, :name %>
    </div>
  </div>

  <div class="field inline-field">
    <%= form.label :variable %>
    <div class="select is-info">
    <%= form.collection_select :variable_id, Variable.all, :id, :name %>
    </div>
  </div>

  <div class="field inline-field">
    <%= form.label :value %>
    <%= form.text_field :value, class: "input" %>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-info save-button" %>
  </div>
<% end %>
