
<% @device = @sensor.device %>
<% unit = @sensor.variable.unit %>
<main class="main-container">
  <div class="columns">
    <%= render  "sensor_actuator_list" %>
    <div class="column is-half">
      <div class="device-title">
        <div>
          <h1 class="title is-3 has-text-info"><%= @sensor.variable.name %></h1>
        </div>
        <p class="has-text-right title is-5">
          <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_sensor_path(@sensor) %> |
          <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, sensor_path(@sensor), 
          method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
      <div>
        <p class="subtitle is-6 has-text-grey">Last update <%= time_ago_in_words(@sensor.updated_at) %> ago</p>
        <p class="subtitle is-6 has-text-grey"> All values given in <%= unit %></p> 
      </div>
      <canvas id="myChart" width="400" height="400"></canvas>
      <div id="map">
        <% @history.each do |history|%> 
          <div>
            <span><%= history.value %></span>
            <%= time_tag history.created_at %>
          </div>
        <% end %>
      </div>
      

      <div class="center-container">
        
      </div>
    </div>
    
    <%= render  "devices/about" %>
  <%= render  "data_plot" %>

</main>
