<!DOCTYPE html>
<html class="has-background-grey-light">
  <head>
    <title>SenNet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css' %>
  </head>
  <nav class="navbar is-dark">
    <div class="navbar-brand" >
      <a class="navbar-item has-text-info title" href="/">
        <i class="fas fa-project-diagram ilogo"></i>SenNet
      </a>
    </div>
    <div class="navbar-start" >
      <div class="navbar-brand " >
        <%= link_to  "Home",  root_path, class:"navbar-item has-text-info subtitle is-5"  %>
      </div>
      <div class="navbar-brand" >
        <%= link_to  "Devices",  devices_path, class:"navbar-item has-text-info subtitle is-5"  %>
      </div>
    </div>
    <div class="navbar-end" >
      <div class="navbar-brand " >
        <%= link_to  "Sign In",  devices_path, class:"navbar-item has-text-info subtitle is-5"  %>
      </div>
      <div class="navbar-brand " >
        <%= link_to  "Sign Out",  devices_path, class:"navbar-item has-text-info subtitle is-5"  %>
      </div>
    </div>

  </nav>
  <% if notice %>
    <div class="notification is-primary">
      <button class="delete"></button>
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="notification is-danger">
      <button class="delete"></button>
      <%= alert %>
    </div>
  <% end %>
  <body >
    <%= yield %>
  </body>
</html>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
      $notification = $delete.parentNode;

      $delete.addEventListener('click', () => {
        $notification.parentNode.removeChild($notification);
      });
    });
  });
</script>